@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
    /* font-family:"Plus Jakarta Sans", "sans-serif"; */
} 
body{
    background-color: #000000;
    text-decoration: none;
    
}
header  {
    font-family: "Roboto Mono"; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    height: 100px;
 
       img{
        width:151px;
        height: 27px;
        cursor: pointer;
      }
      div{
        display: flex;
        justify-content: space-between;
        gap: 14px;
        place-items: center;
         span{
            display: flex;
            align-items: center;
            justify-content: center;
            width:50px;
            height: 50px;
            background-color: #1A1A1A;
            border-radius: 12px;
         }
         h2 {
            transition:background-color 0.5s ease-in-out,  color 0.5s ease-out 0s ;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #B3B3B2;
            background-color:black;
            height: 50px;
            width: 136px;
            border-radius: 12px;
            border: 2px dashed #262626;
            font-family: "Roboto";
            a{
                 transition: color 0.5s ease-out 0s;
                 color: #B3B3B2;
                 font-family: "Roboto Mono";
                 font-size: 18px;
                 font-weight:500 ;
                 letter-spacing: 1px;
            }
         }
        
      }
      h2:hover{
          background-color: #AE9B84;
          border: none;
          
          cursor: pointer;
      }
      h2 a:hover{
            color: #0F0F0F;
      }
     
}
img { 
    max-width: 100%; height: auto;
 }
 h1 {
    a{
        transition-timing-function: linear;
    }
    
}
nav{
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 14px;
}
    nav a:first-child{

        transition: color 1s ease-out 0s, background-color 1s ease-in-out ;
        color: #B3B3B2;
        background-color:black;
        width: 80px;
        height: 40px;
        text-align: center;
        padding-top: 7px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        border: 2px dashed #262626;  

     }
      nav a:first-child:hover{
        background-color:#2c2c2c;
        color:#FFFFFF ;
      }
        nav a:last-child{
        transition: color 1s ease-out 0s , background-color 1s ease-in-out ;
        width: 80px;
        height: 40px;
        color: #B3B3B2;
        background-color:black;
        border: 2px dashed #262626;  
        width:120px;
        padding-top: 7px;
        text-align: center;
        border-radius: 12px;
    }
    nav a:last-child:hover{
         background-color:#2c2c2c;
        color:#FFFFFF ;
    }
    h1 a {
        color: #FFFFFF;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }

.landing-page{
    position: relative;
    display: grid;
    color: #FFFFFF;
    font-family: "Roboto";
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(5,1fr);

}
.landing-page div:first-child{
     grid-area: 1/1/4/5;
      object-fit: cover;
}
.hero-content{ 
    grid-area: 4/1/6/3;
    padding-left:80px ;

    h3{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #B3B3B2;
        border: 2px dashed #333333;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Roboto Mono";
        width: 60px;
        height: 50px;
        cursor: pointer;
        margin-top: 54px;
        margin-right:10px;
        transition: color 0.2s ease-in-out, background-color 1s ease-in-out;
    }
    h3:hover{
        background-color: wheat;
        color: #000000;
        border:none;
    }
    h2{
        font-size: 45px;
        color:#FFFFFF ;
        font-weight:500 ;
        font-family: "Roboto";
        width: 650px ;
        height: auto;
        margin-top: 30px;
    }
    p{
         margin-top: 50px;
        color: #676665;
        width: 560px;
    }

}
.hero-content h3:nth-child(3){
    width: 90px;
}
.stats{
      grid-area: 4/3/6/5;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,1fr);
      place-items: center;
      
    h3{
        font-size: 50px;
        font-weight: 500;
    }
    p{
      
        font-size: 18px;
        color: #81807E;
       
    }
    article{
      
    }
 }
 .shop-now-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
    z-index: 1;
    margin-top: -50px; 
}
.shop-now-content {
    background-color: #000000; 
    padding: 10px 10px 25px 10px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-radius: 18px;
     
}
.shop-now-content span {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1F1F1F; 
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-family: "Roboto Mono";
    transition: transform 0.2s linear;
}


.trends{
    font-family: "roboto";
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 10px;
}
.heo-section{
    grid-area: 1/1/2/4;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px; 
    padding-left: 80px;
    border-bottom: 2px dashed #262626;
      h2{
        color:#FFFFFF ;
        font-weight: 500;
        font-size: 48px;
     
      }
      p{
        color:#676665 ;
        font-size: 18px;
        font-weight: 400;
        
      }
}
.content{
  grid-area: 2/1/2/4;
  display: grid;
  grid-template-columns:repeat(3,1fr) ; 
  grid-template-rows: repeat(2,50%);

  /* place-items: center; */
   /* padding-left: 43px; */
}
.content article:first-child{ 
    border: none; } 
.content article:nth-child(2){
     border-right:none ;
      border-bottom: none; 
      border-top:none ; }
 .content article:nth-child(3){
     border-right:none ; 
     border-bottom: none;
      border-top:none; } 
.content article:nth-child(4){ 
    border-right:none ;
     border-bottom: none; 
     border-bottom: none;
      border-left: none; } 
.content article:nth-child(5){ 
    border-right: none; 
    border-bottom: none; } 
.content article:nth-child(6){ 
    border-bottom: none; 
    border-right: none; }
.content article{
    border: 2px dashed #262626;
    padding-left: 80px;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3{
      
       font-size: 24px;
       color: #FFFFFF;
       padding-bottom:16px;
    }
    p{
        font-size: 18px;
        color: #81807E;
        width: 412px;
    }
}
#products{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    color: white;
    
    
}

#products div:first-child{
    border: 2px dashed #262626;
    border-radius: 18px;
    width: 100%;
    height:316px ;
    h2{
        padding-left: 80px;
        padding-top:82px;
        font-size: 48px;
        font-weight: 500;
        line-height: 100%;
    }
    p{
      padding-left: 80px;
      padding-top: 30px;
      font-size: 18px;
      font-weight:400;
      color: #676665;

    }
    ul{
        display: flex;
        flex-direction:row;
        padding-left: 80px;
        padding-top: 50px;
         gap: 14px;
         li{
           
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 50px;
            color: #B3B3B2;
            border: 2px dashed #262626;
            border-radius: 12px;
            transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
         }
    }
    ul li:nth-child(3){
          width: 90px ;
    }
    ul li:hover{
        background-color: #C2B4A3;
        color: #0F0F0F;
        border: none;
        cursor: pointer;
    }
}
.abstract {
    position: relative;
    
}
.abstract img{
    position: absolute;
    left: 1300px;
    bottom:-30px;
    overflow: hidden;
    width: 200px;
    height: auto;
}

.shop article:first-child{
    border-bottom: none;
    border-left: none;
    border-top: none;
}
.shop article:nth-child(2){
     border-left: none;
     border-top: none;
     border-bottom: none;
     border-right: none;
}
.shop article:nth-child(3){
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.shop article:nth-child(4){
    border-bottom: none;
    border-left: none;
}
.shop article:nth-child(5){
    border-bottom: none;
    border-left: none;
}
.shop article:nth-child(6){
    border-bottom: none;
    border-left: none;
}
.shop{
    font-family: "Roboto";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    border-radius: 12px;
    margin-top: 5px;
    border: 2px dashed #262626;
    border-top: none;
    img:hover{
         transform: scale(1.1);
         border-radius: 20px;
        }

      article p:nth-child(3){
        margin-top: 15px;
        font-family:"Roboto Mono" ;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
     }
     .price span{
        padding-top: 20px;
        font-family: "Roboto Mono";
     }
    .price span:first-child{
        display: inline-block;
        color: #81807E;
        font-size: 18px;
    }
    .price span:nth-child(3){
        padding-left: 10px;
        padding-left: 10px;
         color: #81807E;
    }
    .price span:nth-child(2){
        font-size:20px;
        color: #CCCCCC;
    }
    .price span:last-child{
        color:#CCCCCC ;
    }
   article{
          width: 100%;
          min-width: 360px;
          height: 580px;
          padding-right:15px ;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
          border: 2px dashed #262626;
        img{
           border-radius: 20px 20px 0px 0px;
           width: 100%;
           height:386px ;
           object-fit: cover;
          transition: transform 0.3s ease;
       
        }
        
        .content{
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
           h3{
             width:140px;
              height: 40px;
              border-radius: 100px;
              font-size:18px;
              font-weight: 400;
              background-color: #1F1F1F;
              color: #B3B3B2;
              display: flex;
              align-items: center;
              justify-content: center;
           }
          
        }
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 2px dashed #3f3f3f;
            width: 150px;
            height: 50px;
            background-color: #1F1F1F
        }
        .icon img{
            width: 30px;
            height: 30px;
        }
   }
}

   .Questions div:first-child{
        height: 400px;
        grid-area: 1/1/1/3 ;
        border-bottom: 2px dashed #262626;
     }
.Questions{
    border: 2px dashed #262626;
    border-radius: 12px;
    border-top: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-family: "Roboto";
    div{
         h2{
         padding-top: 80px;
         font-size:48px ;
         color: #FFFFFF;
         padding-left: 80px;
      }
     p{
         padding-top:30px ;
         font-size: 18px;
          color: #676665;
          padding-left: 80px;
     }
     ul {
        display: flex;
        flex-direction:row;
        gap: 5px;
        padding-left: 80px;
        padding-top: 50px;
        li{
            display: flex;
            height: 50px;
            width: 85px;
            height: 50px;
            color: #B3B3B2;
            border: 2px dashed #262626;
            border-radius: 12px;
            justify-content: center;
            align-items: center;
            transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }
        li:hover{
            background-color: #C2B4A3;
            color: #0F0F0F;
            border: none;
            cursor: pointer;
        } 
     }
     img{
     position: relative;
     left: 1238px;
     bottom: 288px;
     }
    }
     
     
   span{
     border-left: 2px dashed #262626;
     border-bottom: 2px dashed #262626;
     height: 200px;
     font-family: "roboto";
     h3{
         padding-top: 60px;
         padding-left: 60px;
         font-weight: 500;
         font-size: 24px;
         }
         p{
            padding-top: 16px;
            padding-left: 60px;
            font-weight: 400;
            font-size: 18px;
            color: #81807E;
         }
   }
 }
.Questions span:nth-child(2),
.Questions span:nth-child(4),
.Questions span:nth-child(6){
   border-left: none;
}
.Questions span:nth-child(6){
    border-bottom: none;
}
.Questions span:nth-child(7)
.Questions span:nth-child(5)
.Questions span:nth-child(3){
  border-right: none;
}
.Questions span:nth-child(7){
    border-bottom: none;
} 
 .logo > img:first-child{
    padding-top: 100px;
    width: 788px;
    height: 250px;
  }
  .logo{
    height:346px ;
    display: flex;
    justify-content: space-around;
    border: 2px dashed #262626;
    border-top:none;
    cursor: pointer;
  }
  .icons{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    div{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #D6CDC2;
        border-radius: 12px;
    }
  }
  .subscribe{
    font-family: "Roboto";
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    color: white;
    height: 279px;
     border: 2px dashed #262626;
     border-top: none;
      .home{
      
        padding-top: 96px;
           h3{
             font-weight: 500;
             font-size: 22px;
             color: #FFFFFF;
             padding-bottom: 30px;
              padding-left: 110px;
           }
             
      }
    }
  .About ul{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            padding-left: 110px;
            margin: 0px;
            li{
                width: 100px;
                color:#676665 ;
                font-size: 15px;
            }

           }
 .About ul li:nth-child(3){
    width: 140px;
 }
.About ul li:nth-child(4){
    position: relative;
    right: 30px;
}
.email{
    display: flex;
    flex-direction: column;
    padding-top:90px;
    
     margin-left:120px;
      label
   {
    color: #FFFFFF;
     font-family: "roboto";
     font-size: 22px;
     font-weight: 500;
   }
   input{
   margin-top: 20px;
   height:40px ;
   width: 260px;
   border-radius: 12px;
   background-color:#1A1A1A ;
   }
  input::placeholder{
     color: #676665;
     font-size: 18px;
     display: flex;
     align-items: center;
     padding-left: 18px;
   }
   img{
      width:20px;
      height: 20px;
      position: relative;
      left:228px;
      bottom: 29px;
    }
}
.watemark{
    display: flex;
    justify-content: space-around;
    color: #B3B3B2;
    height: 90px;
    padding-top:31px ;
      div ul{
        display: flex;
        flex-direction: row;
       
    }
   
}
 .watemark div ul li:first-child{
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #81807E;
 }