@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
    /* font-family:"Plus Jakarta Sans", "sans-serif"; */
} 
body{
    background-color: #000000;
    text-decoration: none;
    
}
header  {
    font-family: "Roboto Mono"; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    height: 100px;
 
       a{
        text-decoration: none;
      }
      div{
        display: flex;
        justify-content: space-between;
        gap: 14px;
        place-items: center;
         span{
            display: flex;
            align-items: center;
            justify-content: center;
            width:50px;
            height: 50px;
            background-color: #1A1A1A;
            border-radius: 12px;
         }
         h2 {
            transition:background-color 0.5s ease-in-out,  color 0.5s ease-out 0s ;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #B3B3B2;
            background-color:black;
            height: 50px;
            width: 136px;
            border-radius: 12px;
            border: 2px dashed #262626;
            font-family: "Roboto";
            a{
                 transition: color 0.5s ease-out 0s;
                 color: #B3B3B2;
                 font-family: "Roboto Mono";
                 font-size: 18px;
                 font-weight:500 ;
                 letter-spacing: 1px;
            }
         }
        
      }
      h2:hover{
          background-color: #AE9B84;
          border: none;
          
          cursor: pointer;
      }
      h2 a:hover{
            color: #0F0F0F;
      }
     
}
img { 
    max-width: 100%; height: auto;
 }
 h1 {
    a{
        transition-timing-function: linear;
    }
    
}
nav{
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 14px;
}
    nav a:first-child{

        transition: color 1s ease-out 0s, background-color 1s ease-in-out ;
        color: #B3B3B2;
        background-color:black;
        width: 80px;
        height: 40px;
        text-align: center;
        padding-top: 7px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;
        border: 2px dashed #262626;  

     }
      nav a:first-child:hover{
        background-color:#2c2c2c;
        color:#FFFFFF ;
      }
        nav a:last-child{
        transition: color 1s ease-out 0s , background-color 1s ease-in-out ;
        width: 80px;
        height: 40px;
        color: #B3B3B2;
        background-color:black;
        border: 2px dashed #262626;  
        width:120px;
        padding-top: 7px;
        text-align: center;
        border-radius: 12px;
    }
    nav a:last-child:hover{
         background-color:#2c2c2c;
        color:#FFFFFF ;
    }
    h1 a {
        color: #FFFFFF;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }

.landing-page{
    position: relative;
    display: grid;
    color: #FFFFFF;
    font-family: "Roboto";
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(5,1fr);

}
.landing-page div:first-child{
     grid-area: 1/1/4/5;
      object-fit: cover;
}
.hero-content{ 
    grid-area: 4/1/6/3;
    padding-left:80px ;

    h3{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #B3B3B2;
        border: 2px dashed #333333;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 400;
        font-family: "Roboto Mono";
        width: 60px;
        height: 50px;
        cursor: pointer;
        margin-top: 54px;
        margin-right:10px;
        transition: color 0.2s ease-in-out, background-color 1s ease-in-out;
    }
    h3:hover{
        background-color: wheat;
        color: #000000;
        border:none;
    }
    h2{
        font-size: 45px;
        color:#FFFFFF ;
        font-weight:500 ;
        font-family: "Roboto";
        width: 650px ;
        height: auto;
        margin-top: 30px;
    }
    p{
         margin-top: 50px;
        color: #676665;
        width: 560px;
    }

}
.hero-content h3:nth-child(3){
    width: 90px;
}
.stats{
      grid-area: 4/3/6/5;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,1fr);
      place-items: center;
      
    h3{
        font-size: 50px;
        font-weight: 500;
    }
    p{
      
        font-size: 18px;
        color: #81807E;
       
    }
    article{
      
    }
 }
 .shop-now-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
    z-index: 1;
    margin-top: -50px; 
}
.shop-now-content {
    background-color: #000000; 
    padding: 10px 10px 25px 10px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-radius: 18px;
     
}
.shop-now-content span {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1F1F1F; 
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-family: "Roboto Mono";
    transition: transform 0.2s linear;
    /* border: 3px dashed #756f6f;
    border-radius: 12px; */
}


.trends{
    font-family: "roboto";
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 10px;
}
.heo-section{
    grid-area: 1/1/1/4;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 80px;
   
      h2{
        color:#FFFFFF ;
        font-weight: 500;
        font-size: 48px;
     
      }
      p{
        color:#676665 ;
        font-size: 18px;
        font-weight: 400;
        
      }
}
.content{
  grid-area: 2/1/2/4;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  grid-template-rows: repeat(2,1fr);
  place-items: center;
   padding-left: 43px;
}
.content article{
    
    h3{
       font-size: 24px;
       color: #FFFFFF;
       padding-bottom:16px;
    }
    p{
        font-size: 18px;
        color: #81807E;
        width: 412px;
    }
}
#products{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    color: white;
    
    
}

#products div:first-child{
    border: 2px dashed #262626;
    border-radius: 18px;
    width: 100%;
    height:316px ;
    h2{
        padding-left: 80px;
        padding-top:82px;
        font-size: 48px;
        font-weight: 500;
        line-height: 100%;
    }
    p{
      padding-left: 80px;
      padding-top: 30px;
      font-size: 18px;
      font-weight:400;
      color: #676665;

    }
    ul{
        display: flex;
        flex-direction:row;
        padding-left: 80px;
        padding-top: 50px;
         gap: 14px;
         li{
           
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 50px;
            color: #B3B3B2;
            border: 2px dashed #262626;
            border-radius: 12px;
            transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
         }
    }
    ul li:nth-child(3){
          width: 90px ;
    }
    ul li:hover{
        background-color: #C2B4A3;
        color: #0F0F0F;
        border: none;
        cursor: pointer;
    }
}
.abstract {
    position: relative;
    
}
.abstract img{
    position: absolute;
    left: 1350px;
    bottom:-30px;
    overflow: hidden;
    width: 200px;
    height: auto;
}


.shop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top:80px ;
    padding-left: 30px;
    border-radius: 12px;
    border: 2px dashed #262626;
   article{
          width: 100%;
          min-width: 360px;
          height: 528px;
          border-radius: 20px;
          padding-right:30px ;
          padding-top: 30px;
        img{
           border-radius: 20px;
           width: 100%;
           height:386px ;
           object-fit: cover;
       
        }
   }
}
