@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    /* font-family:"Plus Jakarta Sans", "sans-serif"; */
} 
body{
    
    background-color: #000000;
    text-decoration: none;
}
header  {
    font-family: "Roboto Mono"; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    height: 100px;
 
       a{
        text-decoration: none;
      }
      div{
        display: flex;
        justify-content: space-between;
        gap: 14px;
        place-items: center;
         span{
            display: flex;
            align-items: center;
            justify-content: center;
            width:50px;
            height: 50px;
            background-color: #1A1A1A;
            border-radius: 12px;
         }
         h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #AE9B84;
            height: 50px;
            width: 136px;
            border-radius: 12px;
            a{
                font-family: "Roboto Mono";
                color: #0F0F0F;
                font-size: 18px;
                font-weight:500 ;
                letter-spacing: 1px;
            }
         }
        
      }
}
img { 
    max-width: 100%; height: auto;
 }
nav{
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: 14px;
}
    nav a:first-child{
        /* display: inline-block; */
        background-color:#1A1A1A;
        color:#FFFFFF ;
        width: 80px;
        height: 40px;
        text-align: center;
        padding-top: 7px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 12px;

     }
    nav a:last-child{
        
        width: 80px;
        height: 40px;
        color: #B3B3B2;
        background-color:black;
        border: 2px dashed #262626;  
        width:120px;
        padding-top: 7px;
        text-align: center;
        border-radius: 12px;
    }
    h1 a {
        color: #FFFFFF;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 800;
    }

.landing-page{
    position: relative;
    display: grid;
    color: #FFFFFF;
    font-family: "Roboto";
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(5,200px);

}
.landing-page div:first-child{
     grid-area: 1/1/4/5;
}
.hero-content{ 
    grid-area: 4/1/6/3;
    margin-left: 30px;
    h3{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #B3B3B2;
        border: 2px dashed #333333;
        border-radius: 12px;
        width: 92px;
        height: 40px;
        margin-top: 54px;
        margin-right:10px;
        
    }
    h2{
        font-size: 45px;
        color:#FFFFFF ;
        font-weight:500 ;
        font-family: "Roboto";
        width: 650px ;
        height: auto;
        margin-top: 30px;
    }
    p{
         margin-top: 50px;
        color: #676665;
        width: 560px;
    }

}
.stats{
      grid-area: 4/3/6/5;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,200px);
      place-items: center;
    h3{
        font-size: 50px;
        font-weight: 500;
    }
    p{
      
        font-size: 18px;
        color: #81807E;
       
    }
}
/* 
.hero-content h2:first-child{
    position: absolute;
    bottom: 410px;
    left:700px;
} */
